/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}
	
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

/*********************
CUSTOM STYLES
*********************/
main.columns {
	padding-left: 0;
	padding-right: 0;
}
html, body {
	font-size: 12px;
	@include breakpoint(medium) {
		font-size: 16px;
	}
}
.navigation-bars {
	position: relative;
	height: 50px;
	margin: 0;
	z-index: 999;
	.logo {
		position: relative;
		text-align: center;
		float: left;
		padding: 10px;
		height: 50px;
		img {
			height: 100%;
			width: auto;
		}
	}
	.navigation-bar, .sticky-navigation-bar {
		display: none;
	}
	.mobile-navigation-bar {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $primary-color;
		height: 50px;
		color: $white;
		z-index: 999;
		.mobile-nav-hamburger {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			display: block;
			text-align: center;
			cursor: pointer;
			font-size: 30px;
			line-height: 1em;
			vertical-align: text-top;
		}
	}
	@include breakpoint(large) {
		.navigation-bar {
			display: block;
			font-size: .8em;
			@include breakpoint(xlarge) {
				font-size: 1em;
			}
			.logo {
				height: 100px;
				padding: 30px 80px;
				padding-right: 40px;
				position: absolute;
				left: 0;
				top: 0;
				background: $primary-color;
				img {
					height: 40px;
				}
				&:after {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 100px 50px 0 0;
					border-color: $primary-color transparent transparent transparent;
					position: absolute;
					top: 0;
					right: -50px;
				}
			}
			.nav-main {
				float: right;
				line-height: 40px;
				* {
					line-height: 40px;
					text-transform: uppercase;
				}
			}
		}
		.sticky-navigation-bar {
			display: block;
			position: fixed;
			background: $primary-color;
			left: 0;
			right: 0;
			top: -100px;
			transition: all .6s ease;
			font-size: .8em;
			@include breakpoint(xlarge) {
				font-size: 1em;
			}
			&.active {
				background: $primary-color;
				top: 0;
				color: $white;
				.sticky-nav-main {
					float: right;
					line-height: 30px;
					* {
						line-height: 30px;
						color: $white;
						text-transform: uppercase;
					}
				}
			}
		}
		.mobile-navigation-bar {
			display: none;
		}
	}
}
.mobile-nav-main {
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: -100%;
	transition: all .6s ease;
	padding: 20px;
	height: auto;
	z-index: 99;
	background: $white;
	&.active {
		top: 50px;
	}
}
.page-template-template-homepage {
	color: $primary-color;
	text-align: center;
	.feature-video {
		margin: 0;
		padding: 20px;
		padding-bottom: 0;
		@include breakpoint(medium) {
			padding: 60px 80px;
		}
	}
	.cta-btn {
		background: $secondary-color;
		position: relative;
		padding-right: 90px;
		padding-left: 20px;
		border: 0;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: 600;
		line-height: 1em;
		transition: all .4s ease;
		span {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 60px;
			background: $primary-color;
			height: 100%;
			vertical-align: middle;
			font-size: 1.2em;
			line-height: 1em;
			padding: 12px 0;
			&:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				bottom: 0;
				left: -20px;
				border-style: solid;
				border-width: 0 0 43px 20px;
				border-color: transparent transparent $primary-color transparent;
			}
		}
		&:hover {
			background: $primary-color;
		}
	}
	.hero {
		position: relative;
		display: table;
		margin: 0;
		background: darken($primary-color, 20%);
		width: 100%;
		height: 80vh;
		height: calc(80vh - 60px);
		max-height: 1000px;
		color: $white;
		padding: 20px;
		.page-title {
			font-size: 3.6em;
			font-weight: 300;
			margin-bottom: 16px;
			line-height: 1.1em;
		}
		.page-subtitle {
			font-size: 1.2em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .2em;
			margin-bottom: 60px;
		}
		.hero-content-container {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: 100%;
		}
		.hero-background-image {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: .05;
		}
	} 
	.benefits-intro{
		padding: 30px;
		@include breakpoint(medium) {
			padding: 60px 80px;
		}
	}
	.hover-blocks {
		width: 100%;
		margin: 30px 0;
		margin-bottom: 60px;
		text-align: center;
		.block {
			display: inline-block;
			text-align: center;
			position: relative;
			background: $primary-color;
			vertical-align: text-top;
			margin: 0 -.25%;
			padding: 40px 20px;
			color: $white;
			overflow: hidden;
			max-height: 320px;
			transition: max-height .6s ease;
			cursor: default;
			.value-icon {
				position: relative;
				height: 80px;
				width: auto;
				margin-bottom: 50px;
				margin-top: 40px;
				transition: all .6s ease;
			}
			.value-add {
				position: relative;
				letter-spacing: .2em;
				text-transform: uppercase;
				font-weight: 600;
				line-height: 1.2em;
				font-size: 1em;
			}
			.hover-image {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,0);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				opacity: 0;
				transition: opacity .3s ease;
			}
			.value-bullets {
				list-style: none;
				margin: 0;
				position: relative;
				top: 800px;
				transition: all .6s ease;
				li {
					margin: 0;
					font-size: .8em;
					font-weight: 600;
					line-height: 1.1em;
					margin-bottom: 1em;
				}
			}
			&:hover, &.hover {
				overflow: visible;
				max-height: 800px;
				.hover-image {
					opacity: .1;
				}
				.value-icon {
					margin-bottom: 20px;
					margin-top: 0;
				}
				.value-bullets {
					top: 16px;
				}
			}
			@media (max-width: 767px) {
				width: 100% !important;
				display: block;
				margin-bottom: 4px;
				overflow: visible;
				max-height: 800px;
				.hover-image {
					opacity: .1;
				}
				.value-icon {
					margin-bottom: 20px;
					margin-top: 0;
				}
				.value-bullets {
					top: 0;
				}
			}
			@include breakpoint(medium) {
				&:after {
					content: '';
					display: block;
					position: absolute;
					height: 80%;
					width: 1px;
					top: 10%;
					left: 0;
					background: darken($primary-color, 5%);
				}
				&:first-child:after {
					display: none;
				}
			}
		}
	}
	.chart-link {
		cursor: default;
	}
	.testimonials {
		margin: 0;
		.testimonial-container {
			display: table;
			min-height: 600px;
			width: 100%;
			@include breakpoint(medium) {
				height: 50vw;
				max-height: 600px;
			}
		}
		.testimonial {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			background: darken($primary-color, 20%);
			color: $white;
			padding: 30px 60px;
			height: 100%;
			@include breakpoint(medium) {
				padding: 60px 100px;
			}
			* {
				position: relative;
			}
			p {
				font-size: 1.2em;
				font-weight: 400;
				line-height: 1.3em;
				margin-bottom: 40px;
				@include breakpoint(medium) {
					font-size: 1.8em;
				}
			}
			h4 {
				font-size: 1em;
				color: #ccc;
				font-weight: 500;
				line-height: 1.1em;
			}
			.person-title {
				text-transform: uppercase;
				font-size: .8em;
				letter-spacing: .2em;
			}
		}
		.testimonial-background-image {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: .1;
		}
		.orbit-container {
			button {
				font-size: 2.4em;
			}
		}
		.orbit-bullets {
			top: -60px;
		}
		.orbit-previous {
			left: 10px;
		}
		.orbit-next {
			right: 10px;
		}
	}
	.machine {
		padding: 20px 60px;
		@include breakpoint(medium) {
			padding: 60px;
		}
		.product-image {
			height: 240px;
			width: auto;
			margin-bottom: 10px;
		}
		.machine-btn {
			background: $secondary-color;
			padding: 20px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .1em;
			font-size: 1.2em;
			&:hover {
				background: darken($secondary-color, 10%);
			}
		}
	}
	.machine-modal {
		.modal-img {
			position: relative;
			padding: 20px 10px;
			img {
				max-height: 300px;
			}
		}
		.modal-machine-details {
			text-align: left;
			color: #222;
			padding: 20px;
			h4 {
				font-weight: 600;
				letter-spacing: .1em;
				text-transform: uppercase;
			}
		}
		.close-button {
			color: #ccc;
			transition: color .6s ease;
			&:hover {
				color: darken(#ccc, 10%);
			}
			@include breakpoint(medium) {
				font-size: 1.6em;
			}
		}
	}
	.chart {
		padding: 40px 30px;
		.chart-or-image {
			display: none;
		}
		.chart-link {
			margin: 0;
			font-size: .8em;
			line-height: 1.4em;
		}
		@include breakpoint(medium) {
			padding: 0;
			.chart-link {
				display: none;
			}
			.chart-or-image {
				display: block;
			}
		}
	}
	.team {
		padding: 20px;
		@include breakpoint(medium) {
			padding: 80px 60px;
		}
		.team-title {
			margin-bottom: 20px;
			font-size: 2em;
			font-weight: 600;
			@include breakpoint(medium) {
				margin-bottom: 60px;
			}
		}
		.team-image {
			position: relative;
			margin-bottom: 40px;
			.team-caption{
				position: relative;
				background: $primary-color;
				width: 100%;
				padding: 10px;
				color: $white;
				font-size: .8em;
				font-weight: 600;
				line-height: 1.2em;
				text-align: left;
				p {
					margin: 0;
				}
			}
			@include breakpoint(medium) {
				overflow: hidden;
				.team-caption {
					position: absolute;
					background: rgba(0,0,0,.5);
					top: 100%;
					left: 0;
					bottom: 0;
					right: 0;
					padding: 20px;
					transition: all .4s ease;
					vertical-align: text-bottom;
				}
				&:hover {
					.team-caption {
						top: 60%;
					}
				}
			}
		}
		.contacts {
			margin: 0;
			list-style: none;
			text-align: center;
			color: #222;
			.list-contact {
				margin-bottom: 30px;
			}
			.contact-name {
				font-size: 1em;
				line-height: 1.1em;
				margin-bottom: .3em;
			}
			.contact-title, p {
				font-size: .7em;
				line-height: 1.1em;
				margin-bottom: .3em;
				.fa {
					margin-right: 4px;
					color: #aaa;
				}
			}
			.contact-title {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			@include breakpoint(medium) {
				text-align: left;
				.contact-title, p {
					.fa {
						margin-right: 14px;
					}
				}
			}
		}
	}
	.contact {
		background: darken($primary-color, 10%);
		padding: 30px;
		@include breakpoint(medium) {
			padding: 60px 80px;
		}
		.contact-title {
			color: $white;
			margin-bottom: 30px;
		}
		.row, .columns {
			margin: 0;
		}
		input, textarea {
			background: $white;
			color: #aaa;
			padding: 20px;
			padding-bottom: 3px !important;
	    padding-top: 3px !important;
		}
		label {
			text-align: left;
			color: $white;
			margin: 0;
			padding: 0;
		}
		.wpcf7-submit {
			border: 0;
			padding: 20px 60px !important;
			background: $secondary-color;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .1em;
			margin-left: 20px;
			transition: background .6s ease;
			&:hover {
				background: darken($secondary-color, 10%);
			}
		}
	}
	h3 {
		padding-top: 50px;
	}
	.footer {
		text-align: center;
		padding: 60px 30px;
		@include breakpoint(medium) {
			text-align: left;
		}
		.footer-logo {
			width: 200px;
		}
		.legal-links {
			margin: 0;
			a {
				color: #ccc;
				display: block;
				font-size: 1em;
				font-weight: 600;
				@include breakpoint(medium) {
					font-size: .8em;
				}
			}
		}
		.copyright {
			color: #ccc;
			font-size: 1em;
			font-weight: 600;
			@include breakpoint(medium) {
				font-size: .8em;
			}
		}
		.small-print {
			padding: 20px 0;
		}
		.footer-cta {
			@include breakpoint(medium) {
				text-align: right;
			}
			padding: 30px 0;
		}
	}
}
.row {
	margin: 0 auto !important;
}

.product-slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  max-width: 100%;


	ul {
	  position: relative;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  height: 300px;
	  list-style: none;
	}

	ul li {
	  position: relative;
	  display: block;
	  float: left;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  height: 300px;
	  text-align: center;
	  line-height: 300px;
	}

	.control_prev, .control_next {
	  position: absolute;
	  top: 40%;
	  z-index: 999;
	  display: block;
	  padding: 4% 3%;
	  width: auto;
	  height: auto;
	  background: #2a2a2a;
	  color: #fff;
	  text-decoration: none;
	  font-weight: 600;
	  font-size: 18px;
	  opacity: 0.8;
	  cursor: pointer;
	}

	.control_prev:hover, .control_next:hover {
	  opacity: 1;
	  -webkit-transition: all 0.2s ease;
	}



	.control_next {
	  right: 0;
	}
}
